@* Generator: Template TypeVisibility: Internal *@
@using Common
@using Pages
@using HangFire.Storage
@using Storage.Monitoring
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };

    int from, perPage;

    int.TryParse(Request.QueryString["from"], out from);
    int.TryParse(Request.QueryString["count"], out perPage);

    Pager pager;
    JobList<ProcessingJobDto> processingJobs;

    using (var monitor = JobStorage.Current.GetMonitoringApi())
    {
        pager = new Pager(from, perPage, monitor.ProcessingCount())
        {
            BasePageUrl = Request.LinkTo("/processing")
        };

        processingJobs = monitor
            .ProcessingJobs(pager.FromRecord, pager.RecordsPerPage);
    }
}

@if (pager.TotalPageCount == 0)
{
    <div class="alert alert-info">
        No jobs are being processed right now.
    </div>
}
else
{
    @RenderPartial(new PerPageSelector(pager))
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Job</th>
                <th>Server</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in processingJobs)
            {
                <tr class="@(!job.Value.InProcessingState ? "obsolete-data" : null)">
                    <td>
                        <a href="@Request.LinkTo("/job/" + job.Key)">
                            @HtmlHelper.JobId(job.Key)
                        </a>
                        @if (!job.Value.InProcessingState)
                        {
                            <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                        }
                    </td>
                    <td>
                        <span title="@HtmlHelper.DisplayMethodHint(job.Value.Job)">
                            @HtmlHelper.DisplayMethod(job.Value.Job)
                        </span>
                    </td>
                    <td>
                        @job.Value.ServerName
                    </td>
                    <td>
                        @if (job.Value.StartedAt.HasValue)
                        {
                            <span data-moment="@JobHelper.ToStringTimestamp(job.Value.StartedAt.Value)">
                                @job.Value.StartedAt
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @RenderPartial(new Paginator(pager))
}
