@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@inherits WebTemplateBase
<!DOCTYPE html>

<html lang="ru">
<head>
    <title>@Title - HangFire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Request.LinkTo("/styles.css?v1")" />
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Request.LinkTo("/")">HangFire Monitor</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="@(Request.PathInfo.Equals("/") || Request.PathInfo.Equals("") ? "active" : null)">
                            <a href="@Request.LinkTo("/")">Dashboard</a>
                        </li>
                        <li class="@(Request.PathInfo.Equals("/servers") ? "active" : null)">
                            <a href="@(Request.LinkTo("/servers"))">
                                Servers
                                <span class="badge">@Storage.Servers().Count()</span>
                            </a>                            
                        </li>
                        <li class="@(Request.PathInfo.Equals("/queues") ? "active" : null)">
                            <a href="@Request.LinkTo("/queues")">
                                Queues
                                <span class="badge">@Storage.Queues().Count()</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Back to site</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        <!-- Begin page content -->

        <div class="container">
            <div class="col-md-3">
                <div id="stats" class="list-group" data-refresh-url="@Request.LinkTo("/stats")">
                    <a class="list-group-item" href="#">
                        <span id="stats-succeeded" class="label label-success pull-right">
                            @String.Format("{0:n0}", Storage.SucceededCount())
                        </span>
                        Completed
                    </a>
                    <a class="list-group-item" href="#">
                        <span id="stats-failed" class="label label-danger pull-right">
                            @String.Format("{0:n0}", Storage.FailedCount())
                        </span>
                        Failed
                    </a>
                    <a class="list-group-item @(Request.PathInfo.Equals("/dispatchers") ? "active" : null)" 
                        href="@Request.LinkTo("/dispatchers")">
                        <span id="stats-dispatchers" class="label label-warning pull-right">
                            @String.Format("{0:n0}", Storage.Dispatchers().Count())
                        </span>
                        Processing
                    </a>
                    <a class="list-group-item @(Request.PathInfo.Equals("/schedule") ? "active" : null)" 
                        href="@Request.LinkTo("/schedule")">
                        <span id="stats-scheduled" class="label label-primary pull-right">
                            @String.Format("{0:n0}", Storage.ScheduledCount())
                        </span>
                        Scheduled
                    </a>
                    <a class="list-group-item" href="#">
                        <span id="stats-enqueued" class="label label-default pull-right">
                            @String.Format("{0:n0}", Storage.EnqueuedCount())
                        </span>
                        Enqueued
                    </a>
                </div>

                <label>Test jobs</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="page-header">@Title</h1>
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <ul class="list-inline credit">
                <li>
                    <a href="http://github.io/odinserj/hangfire" target="_blank">HangFire 0.1.3
                    </a>
                </li>
                <li>Redis: 
                    @String.Format("{0}:{1}/{2}", Configuration.Instance.RedisHost, Configuration.Instance.RedisPort, Configuration.Instance.RedisDb)
                </li>
                <li>Time: @DateTime.UtcNow.ToString() UTC
                </li>
            </ul>
        </div>
    </div>
    
    <script src="@Request.LinkTo("/scripts.js?v1")"></script>
</body>
</html>
