@model Snippet

@{
    ViewBag.Title = "Create a snippet";
}

<h2>Create a snippet</h2>

@using (Html.BeginForm("Create", "Home"))
{
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Source)
        @Html.ValidationMessageFor(model => model.Source)
        @Html.TextAreaFor(model => model.Source, new { @class = "form-control", style = "min-height: 300px;", autofocus = "true" })
    </div>
    
    <strong>Highlight:</strong>
    <button class="btn btn-primary" type="submit" name="method:Sync">
        Synchronously
    </button>
    <button class="btn btn-primary" type="submit" name="method:Async">
        Asynchronously
    </button>
    <button class="btn btn-primary" type="submit" name="method:ThreadPool">
        ThreadPool
    </button>
    
    <!-- Hangfire Button -->
    <button class="btn btn-primary" type="submit" name="method:BackgroundJob">
        BackgroundJob
    </button>
    
    <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a>
}
