@model IPagedList<Snippet>

@{
    ViewBag.Title = "Snippets";
}

<div style="margin-bottom: 20px;">
    <div class="pull-right">
        @using (Html.BeginForm("Clear", "Home"))
        {
            <button class="btn btn-danger">Clear snippets</button>
        }
    </div>
    <a class="btn btn-primary" href="@Url.Action("Create")">Create New Snippet
    </a>
</div>

@if (Model.TotalItemCount == 0)
{
    <div class="alert alert-info">
        There are no snippets yet. Try create a new one.
    </div>
}
else
{
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Snippet</th>
            <th>CreatedAt</th>
            <th>HighlightedAt</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Id.ToString(), "Snippet", new { id = item.Id })
                </td>
                <td class="source">
                    <a href="@Url.Action("Snippet", new { id = item.Id })">
                        @Html.Partial("_Source", item)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighlightedAt)
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
}