@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using HangFire.Web.Pages
@inherits WebTemplateBase
@{
    Layout = new LayoutPage()
        {
            Context = Context,
            Title = "Failed Jobs"
        };
}

<div class="alert alert-info">
    HangFire записывает все проваленные задания в очередь <code>hangfire:failed</code>. 
</div>

@{
    var failedJobs = Storage.FailedJobs();
}

@if (failedJobs.Count == 0)
{
    <div class="alert alert-success">
        Список проваленных заданий пуст.
    </div>
}
else
{
    <table class="table failed-table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Queue</th>
                <th>Args</th>
                <th>Exception</th>
                <th>Failed at</th>
                <th>Latency</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 0; }
            @foreach (var job in failedJobs)
            {
                <tr>
                    <td>@job.Type</td>
                    <td><span class="label label-primary">@job.Queue</span></td>
                    <td>
                        <code>
                            @String.Join(", ", job.Args.Select(x => String.Format("{0}: \"{1}\"", x.Key, x.Value)))
                        </code>
                    </td>
                    <td class="expand-exception">
                        @job.ExceptionMessage <span class="caret"></span>
                    </td>
                    <td>@job.FailedAt</td>
                    <td>@job.Latency</td>
                </tr>
                <tr style="@(index++ > 0 ? "display: none;" : null)">
                    <td colspan="6">
                        @job.ExceptionType
                        <br/>
                        @job.ExceptionMessage
                        <br />
                        @job.ExceptionStackTrace
                    </td>
                </tr>
            }
        </tbody>
    </table>
}