@* Generator: Template TypeVisibility: Internal *@
@using System
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Failed Jobs" };
    var failedJobs = JobStorage.FailedJobs();
}

@if (failedJobs.Count == 0)
{
    <div class="alert alert-success">
        Yay! You have no failed jobs.
    </div>
}
else
{
    <table class="table failed-table">
        <thead>
            <tr>
                <th>Failed at</th>
                <th>Queue</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 0; }
            @foreach (var job in failedJobs)
            {
                <tr>
                    <td>@job.FailedAt</td>
                    <td>@HtmlHelper.QueueLabel(job.Queue)</td>
                    <td class="expand-exception">
                        <div>
                            @HtmlHelper.JobType(job.Type)
                        </div>
                        <div style="color: #888;">
                            @job.ExceptionMessage <span class="caret"></span>
                        </div>
                    </td>
                    <td>
                        <!--button class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-search"></span>
                            Retry
                        </button>
                        <button class="btn btn-danger btn-sm">Remove</button-->
                    </td>
                </tr>
                <tr style="@(index++ > 0 ? "display: none;" : null)">
                    <td colspan="5" class="failed-job-details">
                        <h4>@job.ExceptionType</h4>
                        <p>
                            @job.ExceptionMessage
                        </p>
                        
                        @if (!String.IsNullOrEmpty(job.ExceptionDetails))
                        {
                            <pre class="stack-trace">@MarkupStackTrace(job.ExceptionDetails)</pre>
                        }

                        <h4>Job Arguments</h4>
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var arg in job.Args)
                                {
                                    <tr>
                                        <td>@arg.Key</td>
                                        <td><code>@arg.Value</code></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}