@* Generator: Template TypeVisibility: Internal *@
@using Common
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };

    int from, perPage;

    int.TryParse(Request.QueryString["from"], out from);
    int.TryParse(Request.QueryString["count"], out perPage);

    var pager = new Pager(from, perPage, JobStorage.ProcessingCount())
    {
        BasePageUrl = Request.LinkTo("/processing")
    };

    var processingJobs = JobStorage.ProcessingJobs(pager.FromRecord, pager.RecordsPerPage);
}

@if (pager.TotalPageCount == 0)
{
    <div class="alert alert-info">
        No jobs are being processed right now.
    </div>
}
else
{
    @RenderPartial(new PerPageSelector(pager))
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Job type</th>
                <th>Server</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in processingJobs)
            {
                <tr class="@(!job.Value.InProcessingState ? "obsolete-data" : null)">
                    <td>
                        <a href="@Request.LinkTo("/job/" + job.Key)">
                            @HtmlHelper.JobId(job.Key)
                        </a>
                        @if (!job.Value.InProcessingState)
                        {
                            <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                        }
                    </td>
                    <td>
                        @HtmlHelper.QueueLabel(job.Value.Queue)&nbsp;@HtmlHelper.JobType(job.Value.Type)
                    </td>
                    <td>
                        @job.Value.ServerName
                    </td>
                    <td>
                        @if (job.Value.StartedAt.HasValue)
                        {
                            <span data-moment="@JobHelper.ToStringTimestamp(job.Value.StartedAt.Value)">
                                @job.Value.StartedAt
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @RenderPartial(new Paginator(pager))
}
