@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };
    var processingJobs = JobStorage.ProcessingJobs();
}

@if (processingJobs.Count == 0)
{
    <div class="alert alert-info">
        No jobs are being processed right now.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Args</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in processingJobs)
            {
                <tr>
                    <td>
                        <a href="@Request.LinkTo("/job/" + job.Key)">
                            @HtmlHelper.JobId(job.Key)
                        </a>
                    </td>
                    <td>@job.Value.ServerName</td>
                    <td>@HtmlHelper.JobType(job.Value.Type)</td>
                    <td><pre>@HtmlHelper.FormatProperties(job.Value.Args)</pre></td>
                    <td data-moment="@JobHelper.ToStringTimestamp(job.Value.StartedAt)">@job.Value.StartedAt</td>
                </tr>
            }
        </tbody>
    </table>
}
