@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Args</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in JobStorage.ProcessingJobs())
        {
            <tr>
                <td>
                    <a href="@Request.LinkTo("/job/" + job.Key)">
                        @HtmlHelper.JobId(job.Key)
                    </a>
                </td>
                <td>@job.Value.ServerName</td>
                <td>@HtmlHelper.JobType(job.Value.Type)</td>
                <td><code>@HtmlHelper.FormatProperties(job.Value.Args)</code></td>
                <td>@job.Value.StartedAt</td>
            </tr>
        }
    </tbody>
</table>
