@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Queues" };
    var queues = JobStorage.Queues();
}

@if (queues.Count == 0)
{
    <div class="alert alert-warning">
        You have no queues yet. Try to enqueue your first job.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Queue</th>
                <th>Length</th>
                <th>Dequeued</th>
                <th>Next jobs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var queue in queues)
            {
                <tr>
                    <td>
                        <a href="@Request.LinkTo("/queues/" + queue.Name)">
                            @queue.Name
                        </a>
                    </td>
                    <td>@queue.Length</td>
                    <td>@queue.Dequeued</td>
                    <td>@if (queue.FirstJobs.Count == 0)
                        {
                        <em>No jobs queued.</em>
                        }
                        else
                        {
                        <table class="table table-condensed table-bordered table-inner">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Job type</th>
                                    <th>Enqueued</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in queue.FirstJobs)
                                {
                                    <tr>
                                        <td><a href="@Request.LinkTo("/job/" + job.Key)">@HtmlHelper.JobId(job.Key)</a></td>
                                        <td>@HtmlHelper.JobType(job.Value.Type)</td>
                                        <td data-moment="@JobHelper.ToStringTimestamp(job.Value.EnqueuedAt)">@job.Value.EnqueuedAt</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}