@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Pages
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Schedule" };
    var scheduledJobs = JobStorage.Schedule();
}

@if (scheduledJobs.Count == 0)
{
    <div class="alert alert-success">
        Нет ни одного запланированного задания.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Scheduled At</th>
                <th>Queue</th>
                <th>Type</th>
                <th>Args</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var job in scheduledJobs)
        {
            <tr>
                <td>@job.ScheduledAt</td>
                <td>@HtmlHelper.QueueLabel(job.Queue)</td>
                <td>@HtmlHelper.JobType(job.Type)</td>
                <td>
                    <code>
                        @String.Join(", ", job.Args.Select(x => String.Format("{0}: \"{1}\"", x.Key, x.Value)))
                    </code>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" data-ajax="@Request.LinkTo("/schedule/enqueue/" + job.Id)" data-loading-text="Enqueueing...">
                        <span class="glyphicon glyphicon-play"></span>
                        Enqueue now
                    </button>
                </td>
            </tr>
        }
    </table>
}