@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Schedule" };
    
    int from, perPage;

    int.TryParse(Request.QueryString["from"], out from);
    int.TryParse(Request.QueryString["count"], out perPage);

    var pager = new Pager(from, perPage, JobStorage.ScheduledCount())
    {
        BaseLink = Request.LinkTo("/schedule")
    };

    var scheduledJobs = JobStorage.ScheduledJobs(pager.From, pager.PerPage);
}

@if (pager.TotalPages == 0)
{
    <div class="alert alert-success">
        Нет ни одного запланированного задания.
    </div>
}
else
{
    <div class="btn-toolbar btn-toolbar-top">
        <div class="btn-group pull-right paginator">
            @foreach (var count in new[] { 10, 20, 50, 100 })
            {
                <a class="btn btn-default @(count == pager.PerPage ? "active" : null)" 
                    href="@pager.PerPageLink(count)">@count</a>    
            }
        </div>
        <div class="btn-group pull-right">
            <span class="btn">Jobs per page:</span>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scheduled At</th>
                <th>Queue</th>
                <th>Type</th>
                <th>Args</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var job in scheduledJobs)
        {
            <tr>
                <td>
                    <a href="@Request.LinkTo("/job/" + job.Key)">
                        @HtmlHelper.JobId(job.Key)
                    </a>
                </td>
                <td data-moment="@JobHelper.ToStringTimestamp(job.Value.ScheduledAt)">@job.Value.ScheduledAt</td>
                <td>@HtmlHelper.QueueLabel(job.Value.Queue)</td>
                <td>@HtmlHelper.JobType(job.Value.Type)</td>
                <td>
                    <code>
                        @HtmlHelper.FormatProperties(job.Value.Args)
                    </code>
                </td>
                <td>
                    <button class="btn btn-default btn-sm" data-ajax="@Request.LinkTo("/schedule/enqueue/" + job.Key)" data-loading-text="Enqueueing...">
                        <span class="glyphicon glyphicon-play"></span>
                        Enqueue now
                    </button>
                </td>
            </tr>
        }
    </table>
    
    <div class="btn-toolbar">
        @if (pager.TotalPages > 1)
        {
            <div class="btn-group paginator">
                <a href="@pager.PreviousPageLink" 
                   class="btn btn-default @(!pager.HasPreviousPage ? "disabled" : null)">&laquo;</a>

                @for (var i = 1; i <= pager.TotalPages; i++)
                {
                    <a class="btn btn-default @(pager.CurrentPage == i ? "active" : null)" 
                       href="@pager.PageLink(i)">@i</a>
                }

                <a href="@pager.NextPageLink" 
                   class="btn btn-default @(!pager.HasNextPage ? "disabled" : null)">&raquo;</a>
            </div>
        }

        <div class="btn-group">
            <span class="btn">Total jobs: @pager.Total</span>
        </div>
    </div>
}