@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Common
@using Pages
@using HangFire.Storage
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Servers" };
}

@{
    var servers = JobStorage.Current.Monitoring.Servers();
}

@if (servers.Count == 0)
{
    <div class="alert alert-warning">
        There are no active servers. Background tasks will not be processed.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Workers</th>
                <th>Queues</th>
                <th>Started</th>
                <th>Heartbeat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in servers)
            {
                <tr>
                    <td>@server.Name.ToUpperInvariant()</td>
                    <td>@server.WorkersCount</td>
                    <td>@HtmlHelper.Raw(String.Join(" ", server.Queues.Select(HtmlHelper.QueueLabel)))</td>
                    <td data-moment="@JobHelper.ToStringTimestamp(server.StartedAt)">@server.StartedAt</td>
                    <td>
                        @if (server.Heartbeat.HasValue)
                        {
                            <span data-moment="@JobHelper.ToStringTimestamp(server.Heartbeat.Value)">
                                @server.Heartbeat
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}