@* Generator: Template TypeVisibility: Internal *@
@using Pages
@inherits RazorPage
              
@{
    Layout = new LayoutPage { Title = "Servers" };
}

@{
    var servers = JobStorage.Servers();
}

@if (servers.Count == 0)
{
    <div class="alert alert-warning">
        There are no active servers. Background tasks will not be processed.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Server</th>
                <th>Queue</th>
                <th>Workers</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in servers)
            {
                <tr>
                    <td>@server.Name</td>
                    <td><span class="label label-primary">@server.Queue</span></td>
                    <td>@server.Concurrency</td>
                    <td data-moment="@JobHelper.ToStringTimestamp(server.StartedAt)">@server.StartedAt</td>
                </tr>
            }
        </tbody>
    </table>
}