@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Servers" };
}

@{
    var servers = JobStorage.Servers();
}

@if (servers.Count == 0)
{
    <div class="alert alert-warning">
        There are no active servers. Background tasks will not be processed.
    </div>
}
else
{
    <table class="table table-outer">
        <thead>
            <tr>
                <th>Server</th>
                <th>Queues</th>
                <th>Total workers</th>
                <th>Jobs dequeued</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in servers)
            {
                <tr>
                    <td rowspan="2">@server.Name</td>
                    <td>@HtmlHelper.Raw(String.Join(" ", server.Queues.Select(HtmlHelper.QueueLabel)))</td>
                    <td>@server.TotalWorkers</td>
                    <td>@server.DequeuedJobs</td>
                </tr>
                <tr>
                    <td colspan="3" class="table-inner-wrapper">
                        @if (server.Instances.Count > 0)
                        {
                            <table class="table table-condensed table-bordered table-inner">
                                <thead>
                                    <tr>
                                        <th>Instance Id</th>
                                        <th>Queues</th>
                                        <th>Workers</th>
                                        <th>Started</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var instance in server.Instances)
                                    {
                                        <tr>
                                            <td>@instance.Id</td>
                                            <td>@HtmlHelper.Raw(String.Join(" ", instance.Queues.Select(HtmlHelper.QueueLabel)))</td>
                                            <td>@instance.WorkersCount</td>
                                            <td>@instance.StartedAt</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}