@* Generator: Template TypeVisibility: Internal *@

@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Succeeded Jobs" };

    int from, perPage;

    int.TryParse(Request.QueryString["from"], out from);
    int.TryParse(Request.QueryString["count"], out perPage);

    var pager = new Pager(from, perPage, JobStorage.SucceededListCount())
    {
        BasePageUrl = Request.LinkTo("/succeeded")
    };

    var succeededJobs = JobStorage.SucceededJobs(pager.FromRecord, pager.RecordsPerPage);
}

@if (pager.TotalPageCount == 0)
{
    <div class="alert alert-info">
        No succeeded jobs found.
    </div>
}
else
{
    @RenderPartial(new PerPageSelector(pager))
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Queue</th>
                <th>Args</th>
                <th>Succeeded at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in succeededJobs)
            {
                <tr>
                    <td>
                        <a href="@Request.LinkTo("/job/" + job.Key)">
                            @HtmlHelper.JobId(job.Key)
                        </a>
                    </td>

                    @if (job.Value == null)
                    {
                        <td colspan="4">The job was expired. 
                        </td>
                    }
                    else
                    {    
                        <td>@HtmlHelper.JobType(job.Value.Type)</td>
                        <td>@HtmlHelper.QueueLabel(job.Value.Queue)</td>
                        <td>
                            <code>
                                @HtmlHelper.FormatProperties(job.Value.Args)
                            </code>
                        </td>
                        <td data-moment="@JobHelper.ToStringTimestamp(job.Value.SucceededAt.Value)">@job.Value.SucceededAt</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    
    @RenderPartial(new Paginator(pager))
}