@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Linq
@using Pages
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Succeeded Jobs" };
}

<div class="alert alert-info">
    HangFire хранит последние 100 успешно выполненных  заданий в очереди <code>hangfire:succeeded</code>
    для более простой отладки работы фоновых задач.
</div>

@{
    var succeededJobs = JobStorage.SucceededJobs();
}

@if (succeededJobs.Count == 0)
{
    <div class="alert alert-warning">
        <p>
            Список завершенных заданий пуст.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Queue</th>
                <th>Args</th>
                <th>Succeeded at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in succeededJobs)
            {
                <tr>
                    <td>@HtmlHelper.JobId(job.Key)</td>

                    @if (job.Value == null)
                    {
                        <td colspan="4">The job was expired. 
                        </td>
                    }
                    else
                    {    
                        <td>@HtmlHelper.JobType(job.Value.Type)</td>
                        <td>@HtmlHelper.QueueLabel(job.Value.Queue)</td>
                        <td>
                            <code>
                                @String.Join(", ", job.Value.Args.Select(x => String.Format("{0}: \"{1}\"", x.Key, x.Value)))
                            </code>
                        </td>
                        <td>@job.Value.SucceededAt</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}