@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Resources
@inherits RazorPage
@{
    var metric = DashboardMetric.Func(this);
    var className = metric == null ? "metric-null" : metric.Style.ToClassName();
    var highlighted = metric != null && metric.Highlighted ? "highlighted" : null;
 }

@if (!string.IsNullOrEmpty(DashboardMetric.Url))
{
@:<a href="@Html.HtmlEncode(DashboardMetric.Url)" class="clickable-metric">
}
<div class="metric @className @highlighted">
    <div class="metric-body" data-metric="@DashboardMetric.Name">
        @(metric?.Value)
    </div>
    <div class="metric-description">
        @(Strings.ResourceManager.GetString(DashboardMetric.Title) ?? DashboardMetric.Title)
    </div>
</div>
@if (!string.IsNullOrEmpty(DashboardMetric.Url))
{
@:</a>
}