@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage("Failed Jobs");

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    var pager = new Pager(from, perPage, monitor.FailedCount());
    var failedJobs = monitor.FailedJobs(pager.FromRecord, pager.RecordsPerPage);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Failed Jobs</h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-success">
                You have no failed jobs at the moment.
            </div>
        }
        else
        {
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-primary"
                            data-url="@Url.To("/jobs/failed/requeue")"
                            data-loading-text="Enqueueing...">
                        <span class="glyphicon glyphicon-repeat"></span>
                        Requeue jobs
                    </button>

                    <button class="js-jobs-list-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/failed/delete")"
                            data-loading-text="Deleting..."
                            data-confirm="Do you really want to DELETE ALL selected jobs?">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete selected
                    </button>

                    @Html.PerPageSelector(pager)
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <input type="checkbox" class="js-jobs-list-select-all"/>
                        </th>
                        <th class="min-width">Id</th>
                        <th>Failed</th>
                        <th>Job</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{ var index = 0; }
                    @foreach (var job in failedJobs)
                    {
                        <tr class="js-jobs-list-row @(!job.Value.InFailedState ? "obsolete-data" : null) @(job.Value.InFailedState ? "hover" : null)">
                            <td rowspan="@(job.Value.InFailedState ? "2" : "1")">
                                @if (job.Value.InFailedState)
                                {
                                    <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                                }
                            </td>
                            <td class="min-width" rowspan="@(job.Value.InFailedState ? "2" : "1")">
                                @Html.JobIdLink(job.Key)
                                @if (!job.Value.InFailedState)
                                {
                                    <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                                }
                            </td>
                            <td class="min-width">
                                @if (job.Value.FailedAt.HasValue)
                                {
                                    @Html.RelativeTime(job.Value.FailedAt.Value)
                                }
                            </td>
                            <td>
                                <div>
                                    @Html.JobNameLink(job.Key, job.Value.Job)
                                </div>
                                @if (!String.IsNullOrEmpty(job.Value.ExceptionMessage))
                                {
                                    <div style="color: #888;">
                                        @job.Value.Reason <a class="expander" href="#">More&nbsp;details...</a>
                                    </div>
                                }
                            </td>
                        </tr>
                        if (job.Value.InFailedState)
                        {
                            <tr>
                                <td colspan="2" class="failed-job-details">
                                    <div class="expandable" style="@(index++ == 0 ? "display: block;" : null)">
                                        <h4>@job.Value.ExceptionType</h4>
                                        <p>
                                            @job.Value.ExceptionMessage
                                        </p>

                                        @if (!String.IsNullOrEmpty(job.Value.ExceptionDetails))
                                        {
                                            <pre class="stack-trace">@Html.StackTrace(job.Value.ExceptionDetails)</pre>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>