@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using Hangfire
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@inherits RazorPage
@{
    Layout = new LayoutPage(Strings.FailedJobsPage_Title);

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    var pager = new Pager(from, perPage, monitor.FailedCount());
    var failedJobs = monitor.FailedJobs(pager.FromRecord, pager.RecordsPerPage);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">@Strings.FailedJobsPage_Title</h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-success">
               @Strings.FailedJobsPage_NoJobs
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                @Html.Raw(Strings.FailedJobsPage_FailedJobsNotExpire_Warning_Html)
            </div>
            
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    @if (!IsReadOnly)
                    {
                        <button class="js-jobs-list-command btn btn-sm btn-primary"
                                data-url="@Url.To("/jobs/failed/requeue")"
                                data-loading-text="@Strings.Common_Enqueueing"
                                disabled="disabled">
                            <span class="glyphicon glyphicon-repeat"></span>
                            @Strings.Common_RequeueJobs
                        </button>
                    }
                    @if (!IsReadOnly)
                    {
                        <button class="js-jobs-list-command btn btn-sm btn-default"
                                data-url="@Url.To("/jobs/failed/delete")"
                                data-loading-text="@Strings.Common_Deleting"
                                data-confirm="@Strings.Common_DeleteConfirm">
                            <span class="glyphicon glyphicon-remove"></span>
                            @Strings.Common_DeleteSelected
                        </button>
                    }
                    @Html.PerPageSelector(pager)
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                @if (!IsReadOnly)
                                {
                                    <th class="min-width">
                                        <input type="checkbox" class="js-jobs-list-select-all"/>
                                    </th>
                                }
                                <th class="min-width">@Strings.Common_Id</th>
                                <th>@Strings.Common_Job</th>
                                <th class="align-right">@Strings.FailedJobsPage_Table_Failed</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var index = 0; }
                            @foreach (var job in failedJobs)
                            {
                                <tr class="js-jobs-list-row @(job.Value == null || !job.Value.InFailedState ? "obsolete-data" : null) @(job.Value != null && job.Value.InFailedState ? "hover" : null)">
                                    @if (!IsReadOnly)
                                    {
                                        <td rowspan="@(job.Value != null && job.Value.InFailedState ? "2" : "1")">
                                            @if (job.Value != null && job.Value.InFailedState)
                                            {
                                                <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key" />
                                            }
                                        </td>
                                    }
                                    <td class="min-width" rowspan="@(job.Value != null && job.Value.InFailedState ? "2" : "1")">
                                        @Html.JobIdLink(job.Key)
                                        @if (job.Value != null && !job.Value.InFailedState)
                                        {
                                            <span title="@Strings.Common_JobStateChanged_Text" class="glyphicon glyphicon-question-sign"></span>
                                        }
                                    </td>
                                    @if (job.Value == null)
                                    {
                                        <td colspan="2">
                                            <em>@Strings.Common_JobExpired</em>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="word-break">
                                                @Html.JobNameLink(job.Key, job.Value.Job)
                                            </div>
                                            @if (!String.IsNullOrEmpty(job.Value.ExceptionMessage))
                                            {
                                                <div class="text-muted">
                                                    @job.Value.Reason <a class="expander" href="#">@(index == 0 ? Strings.Common_LessDetails : Strings.Common_MoreDetails)</a>
                                                </div>
                                            }
                                        </td>
                                        <td class="align-right">
                                            @if (job.Value.FailedAt.HasValue)
                                            {
                                                @Html.RelativeTime(job.Value.FailedAt.Value)
                                            }
                                        </td>
                                    }
                                </tr>
                                if (job.Value != null && job.Value.InFailedState)
                                {
                                    <tr>
                                        <td colspan="2" class="failed-job-details">
                                            @{
                                                var displayCss = index++ == 0 ? "display-block" : null;
                                            }
                                            <div class="expandable @displayCss">
                                                <h4>@job.Value.ExceptionType</h4>
                                                <p class="text-muted">
                                                    @job.Value.ExceptionMessage
                                                </p>

                                                @if (!String.IsNullOrEmpty(job.Value.ExceptionDetails))
                                                {
                                                    <pre class="stack-trace"><code>@Html.StackTrace(job.Value.ExceptionDetails)</code></pre>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>