@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System.Collections
@using System.Collections.Generic
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage(Queue.ToUpperInvariant());

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    var pager = new Pager(from, perPage, monitor.FetchedCount(Queue));
    var fetchedJobs = monitor.FetchedJobs(Queue, pager.FromRecord, pager.RecordsPerPage);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        @Html.Breadcrumbs(Queue.ToUpperInvariant(), new Dictionary<string, string>
        {
            { "Queues", Url.LinkToQueues() },
            { Queue.ToUpperInvariant(), Url.Queue(Queue) }
        })

        <h1 class="page-header">
            @Queue.ToUpperInvariant() <small>Fetched jobs</small>
        </h1>

        @if (pager.TotalPageCount == 0)
        {
        <div class="alert alert-info">
            The queue is empty.
        </div>
        }
        else
        {
        <div class="js-jobs-list">
            <div class="btn-toolbar btn-toolbar-top">
                <button class="js-jobs-list-command btn btn-sm btn-primary"
                        data-url="@Url.To("/jobs/enqueued/requeue")"
                        data-loading-text="Enqueueing...">
                    <span class="glyphicon glyphicon-repeat"></span>
                    Requeue jobs
                </button>

                <button class="js-jobs-list-command btn btn-sm btn-default"
                        data-url="@Url.To("/jobs/enqueued/delete")"
                        data-loading-text="Deleting..."
                        data-confirm="Do you really want to DELETE ALL selected jobs?">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete selected
                </button>

                @Html.PerPageSelector(pager)
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th class="min-width">
                        <input type="checkbox" class="js-jobs-list-select-all"/>
                    </th>
                    <th class="min-width">Id</th>
                    <th class="min-width">State</th>
                    <th>Job</th>
                    <th class="align-right">Fetched</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var job in fetchedJobs)
                {
                    <tr class="js-jobs-list-row hover">
                        <td>
                            <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                        </td>
                        <td class="min-width">
                            @Html.JobIdLink(job.Key)
                        </td>
                        <td class="min-width">
                            @Html.StateLabel(job.Value.State)
                        </td>
                        <td>
                            @Html.JobNameLink(job.Key, job.Value.Job)
                        </td>
                        <td class="align-right">
                            @if (job.Value.FetchedAt.HasValue)
                            {
                                @Html.RelativeTime(job.Value.FetchedAt.Value)
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            @Html.Paginator(pager)
        </div>
        }
    </div>
</div>