@* Generator: Template TypeVisibility: Internal *@
@using System
@using System.Collections.Generic
@using System.Linq
@using Common
@using Pages
@using Hangfire.Storage
@using Storage.Monitoring
@inherits RazorPage
@{
    Layout = new LayoutPage
        {
            Title = Queue.ToUpperInvariant(),
            Subtitle = "Fetched jobs",
            Breadcrumbs = new Dictionary<string, string>
                {
                    { "Queues", LinkTo("/queues") },
                    { Queue.ToUpperInvariant(), LinkTo("/queues/" + Queue) }
                },
            BreadcrumbsTitle = "Fetched jobs",
        };

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    Pager pager = new Pager(from, perPage, monitor.FetchedCount(Queue))
    {
        BasePageUrl = LinkTo("/queues/fetched/" + Queue)
    };

    JobList<FetchedJobDto> fetchedJobs = monitor
        .FetchedJobs(Queue, pager.FromRecord, pager.RecordsPerPage);
}

@if (pager.TotalPageCount == 0)
{
    <div class="alert alert-info">
        The queue is empty.
    </div>
}
else
{
    <div class="js-jobs-list">
        <div class="btn-toolbar btn-toolbar-top">
            <button class="js-jobs-list-command btn btn-sm btn-primary"
                    data-url="@LinkTo("/enqueued/requeue")"
                    data-loading-text="Enqueueing...">
                <span class="glyphicon glyphicon-repeat"></span>
                Requeue jobs
            </button>

            <button class="js-jobs-list-command btn btn-sm btn-default"
                    data-url="@LinkTo("/enqueued/delete")"
                    data-loading-text="Deleting..."
                    data-confirm="Do you really want to DELETE ALL selected jobs?">
                <span class="glyphicon glyphicon-remove"></span>
                Delete selected
            </button>

            @RenderPartial(new PerPageSelector(pager))
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="min-width">
                        <input type="checkbox" class="js-jobs-list-select-all" />
                    </th>
                    <th class="min-width">Id</th>
                    <th class="min-width">State</th>
                    <th>Job</th>
                    <th class="align-right">Fetched</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in fetchedJobs)
                {
                    <tr class="js-jobs-list-row hover">
                        <td>
                            <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key" />
                        </td>
                        <td class="min-width">
                            <a href="@LinkTo("/job/" + job.Key)">@HtmlHelper.JobId(job.Key)</a>
                        </td>
                        <td class="min-width">
                            <span class="label label-default" style="@(JobHistoryRenderer.ForegroundStateColors.ContainsKey(job.Value.State) ? String.Format("background-color: {0};", JobHistoryRenderer.ForegroundStateColors[job.Value.State]) : null)">
                                @job.Value.State
                            </span>
                        </td>
                        <td>
                            <a class="job-method" href="@LinkTo("/job/" + job.Key)">
                                @HtmlHelper.DisplayJob(job.Value.Job)
                            </a>
                        </td>
                        <td class="align-right">
                            @if (job.Value.FetchedAt.HasValue)
                            {
                                <span data-moment="@JobHelper.ToTimestamp(job.Value.FetchedAt.Value)">
                                    @job.Value.FetchedAt
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @RenderPartial(new Paginator(pager))
}
