@* Generator: Template TypeVisibility: Public GeneratePrettyNames: True *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits RazorPage
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Title - Hangfire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.To("/css")" />
</head>
    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Home()">Hangfire Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @Html.RenderPartial(new Navigation())
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@AppPath">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Back to site
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            <div class="container" style="margin-bottom: 20px;">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <ul class="list-inline credit">
                    <li>
                        <a href="http://hangfire.io/" target="_blank">Hangfire
                            @{
                                var version = GetType().Assembly.GetName().Version;
                            }
                            @String.Format("{0}.{1}.{2}", version.Major, version.Minor, version.Build)
                        </a>
                    </li>
                    <li>@Storage</li>
                    <li>Time: @DateTime.UtcNow GMT</li>
                    <li>Generated: @(GenerationTime.Elapsed.TotalMilliseconds.ToString("N"))ms</li>
                </ul>
            </div>
        </div>
        
        <script>
            (function (hangFire) {
                hangFire.config = {
                    pollInterval: 2000,
                    pollUrl: '@(Url.To("/stats"))'
                };
            })(window.Hangfire = window.Hangfire || {});
        </script>
        <script src="@Url.To("/js")"></script>
    </body>
</html>
