@* Generator: Template TypeVisibility: Public *@
@using System
@using System.Diagnostics
@using Hangfire.Dashboard
@using Hangfire.Storage.Monitoring
@inherits Hangfire.Dashboard.RazorPage
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@Title - Hangfire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@LinkTo("/css")" />
</head>
    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@LinkTo("/")">Hangfire Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Back to site
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div id="stats" class="list-group">
                            @SidebarMenu.Render(this, Storage)
                        </div>
                    </div>
                    <div class="col-md-9">
                        @if (Breadcrumbs != null)
                        {
                            <ol class="breadcrumb">
                                <li><a href="@LinkTo("/")"><span class="glyphicon glyphicon-home"></span></a></li>
                                @foreach (var breadcrumb in Breadcrumbs)
                                {
                                    <li><a href="@breadcrumb.Value">@breadcrumb.Key</a></li>
                                }
                                <li class="active">@(BreadcrumbsTitle ?? Title)</li>
                            </ol>
                        }

                        <h1 class="page-header">
                            @Title
                            @if (!String.IsNullOrEmpty(Subtitle))
                            {
                                <small>@Subtitle</small>
                            }
                        </h1>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <ul class="list-inline credit">
                    <li>
                        <a href="http://hangfire.io/" target="_blank">Hangfire 
                            @FileVersionInfo.GetVersionInfo(GetType().Assembly.Location).ProductVersion
                        </a>
                    </li>
                    <li>@Storage</li>
                    <li>Time: @DateTime.UtcNow GMT
                    </li>
                </ul>
            </div>
        </div>
        
        <script>
            (function (hangFire) {
                hangFire.config = {
                    pollInterval: 2000,
                    pollUrl: '@(LinkTo("/stats"))'
                };
            })(window.Hangfire = window.Hangfire || {});
        </script>
        <script src="@LinkTo("/js")"></script>
    </body>
</html>
