@* Generator: Template TypeVisibility: Internal *@
@using Hangfire.Common
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Storage.Monitoring
@inherits RazorPage
@{
    Layout = new LayoutPage { Title = "Processing Jobs" };

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    Pager pager = new Pager(from, perPage, monitor.ProcessingCount())
    {
        BasePageUrl = LinkTo("/processing")
    };

    JobList<ProcessingJobDto> processingJobs = monitor
        .ProcessingJobs(pager.FromRecord, pager.RecordsPerPage);
}

@if (pager.TotalPageCount == 0)
{
    <div class="alert alert-info">
        No jobs are being processed right now.
    </div>
}
else
{
    <div class="js-jobs-list">
        <div class="btn-toolbar btn-toolbar-top">
            <button class="js-jobs-list-command btn btn-sm btn-primary"
                    data-url="@LinkTo("/processing/requeue")"
                    data-loading-text="Enqueueing...">
                <span class="glyphicon glyphicon-repeat"></span>
                Requeue jobs
            </button>

            <button class="js-jobs-list-command btn btn-sm btn-default"
                    data-url="@LinkTo("/processing/delete")"
                    data-loading-text="Deleting..."
                    data-confirm="Do you really want to DELETE ALL selected jobs?">
                <span class="glyphicon glyphicon-remove"></span>
                Delete selected
            </button>

            @RenderPartial(new PerPageSelector(pager))
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="min-width">
                        <input type="checkbox" class="js-jobs-list-select-all" />
                    </th>
                    <th class="min-width">Id</th>
                    <th class="min-width">Server</th>
                    <th>Job</th>
                    <th class="align-right">Started</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in processingJobs)
                {
                    <tr class="js-jobs-list-row @(!job.Value.InProcessingState ? "obsolete-data" : null) @(job.Value.InProcessingState ? "hover" : null)">
                        <td>
                            @if (job.Value.InProcessingState)
                            {
                                <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key" />
                            }
                        </td>
                        <td class="min-width">
                            <a href="@LinkTo("/job/" + job.Key)">
                                @HtmlHelper.JobId(job.Key)
                            </a>
                            @if (!job.Value.InProcessingState)
                            {
                                <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                            }
                        </td>
                        <td class="min-width">
                            @job.Value.ServerId.ToUpperInvariant()
                        </td>
                        <td>
                            <a class="job-method" href="@LinkTo("/job/" + job.Key)">
                                @HtmlHelper.DisplayJob(job.Value.Job)
                            </a>
                        </td>
                        <td class="align-right">
                            @if (job.Value.StartedAt.HasValue)
                            {
                                <span data-moment="@JobHelper.ToTimestamp(job.Value.StartedAt.Value)">
                                    @job.Value.StartedAt
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @RenderPartial(new Paginator(pager))
}
