@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage("Scheduled Jobs");

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    var pager = new Pager(from, perPage, monitor.ScheduledCount());
    var scheduledJobs = monitor.ScheduledJobs(pager.FromRecord, pager.RecordsPerPage);
}

<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Scheduled Jobs</h1>

        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-info">
                There are no scheduled jobs.
            </div>
        }
        else
        {
            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-primary"
                            data-url="@Url.To("/jobs/scheduled/enqueue")"
                            data-loading-text="Enqueueing..."
                            disabled="disabled">
                        <span class="glyphicon glyphicon-play"></span>
                        Enqueue now
                    </button>

                    <button class="js-jobs-list-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/scheduled/delete")"
                            data-loading-text="Deleting..."
                            data-confirm="Do you really want to DELETE ALL selected jobs?"
                            disabled="disabled">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete selected
                    </button>

                    @Html.PerPageSelector(pager)
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th class="min-width">
                            <input type="checkbox" class="js-jobs-list-select-all"/>
                        </th>
                        <th class="min-width">Id</th>
                        <th>Enqueue</th>
                        <th>Job</th>
                        <th class="align-right">Scheduled</th>
                    </tr>
                    </thead>
                    @foreach (var job in scheduledJobs)
                    {
                        <tr class="js-jobs-list-row @(!job.Value.InScheduledState ? "obsolete-data" : null) @(job.Value.InScheduledState ? "hover" : null)">
                            <td>
                                @if (job.Value.InScheduledState)
                                {
                                    <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Key"/>
                                }
                            </td>
                            <td class="min-width">
                                @Html.JobIdLink(job.Key)
                                @if (!job.Value.InScheduledState)
                                {
                                    <span title="Job's state has been changed while fetching data." class="glyphicon glyphicon-question-sign"></span>
                                }
                            </td>
                            <td class="min-width">
                                @Html.RelativeTime(job.Value.EnqueueAt)
                            </td>
                            <td>
                                @Html.JobNameLink(job.Key, job.Value.Job)
                            </td>
                            <td class="align-right">
                                @if (job.Value.ScheduledAt.HasValue)
                                {
                                    @Html.RelativeTime(job.Value.ScheduledAt.Value)
                                }
                            </td>
                        </tr>
                    }
                </table>

                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>