<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hangfire Highlighter</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hangfire Highlighter", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Content("~/hangfire/")">Hangfire Dashboard</a></li>
                </ul>
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hangfire Highlighter Sample</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var snippetsToHighlight = $('.source-code[data-subscribe="True"]').map(function() {
                return $(this).data('snippet-id');
            }).get();

            if (snippetsToHighlight.length > 0) {
                var snippet = $.connection.snippetHub;

                snippet.client.highlight = function (snippetId, highlightedCode) {
                    console.log('Highlighting snippet #' + snippetId);
                    $('.source-code[data-snippet-id="' + snippetId + '"]').html(highlightedCode);
                };

                console.log('Connecting to the SnippetHub');

                $.connection.hub.start().done(function () {
                    console.log('Subscribing to snippets:', snippetsToHighlight);
                    snippet.server.subscribe(snippetsToHighlight);
                });
            }
        });
</script>

</body>
</html>